/**
 * Webfonts
 */
 
/**
 * Social icons font
 */
@font-face {
  font-family: "SSSocialRegular";
  src: url('fonts/ss-social/ss-social-regular.eot');
  src: url('fonts/ss-social/ss-social-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ss-social/ss-social-regular.woff') format('woff'),
       url('fonts/ss-social/ss-social-regular.ttf')  format('truetype'),
       url('fonts/ss-social/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}