/* Global site footer */
.site-footer{
	border-top: 1px dotted #000;
	font-size: 12px;
	margin: 40px 0 0;
	padding: 20px 0;
	text-align: center;

	
	small{
		display: block;
	}
	
	ul{
		margin: 0;
		padding: 0;
	}
	
	li{
		display: inline-block;
		margin: 0 1em 0 0;
		padding: 0;
		
		
		
		a{
			color: #444;
			text-decoration: none;
		}
	
		a:visited{
			color: #000;
		}
	
		a:hover{
			color: #999;
		}
	
	}
	
	.social-list{
		margin-top: 1em;
	}
	
	/* Footer child menu - always hide (too complicated otherwise) */
	li ul{
		display: none;
	}

}

/* Mobile (landscape) */
@media screen and (min-width: 568px) {

}


/* Tablet */
@media screen and (min-width: 768px) {

	.site-footer{
		text-align: left;
	
		.footer-section{
			float: right;
			text-align: right;
			width: 50%;
		}
		
		.footer-section + .footer-section{
			float: left;
			text-align: left;
		}
		
		.menu,
		ul{
			display: inline-block;
			vertical-align: top;
		}
		
		.social-list{
			margin-top: 0;
		}
		
		li:last-child{
			margin-right: 0;
		}	
	}

}

/* Desktop */
@media screen and (min-width: 1024px) {



}