/* Global site nav */
.site-nav-button{
	cursor: button;
}

.site-nav{
	height: 0;
	overflow: hidden;

	.site-nav-active &{
		height: auto;
	}

	ul{
		margin: 0;
		padding: 0;
	}

	li{
		border-top: 1px solid #999;
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
	}
	
	a{
		background: #dbdbdb;
		color: #333;
		display: block;
		padding: 10px;
		text-decoration: none;
		
		&:hover{
			background: #f5f5f5;
		}
		
	}

}		

/* Highlight active page */
.site-nav ul > li.current_page_item > a,
.site-nav ul > li.current_menu_item > a{
	background: #888;
	color: #fff;
}


/* Highlight active parent */
.site-nav ul > li.current_page_parent > a,
.site-nav ul > li.current_page_ancestor > a,
.site-nav ul > li.current_menu_parent > a,
.site-nav ul > li.current_menu_ancestor > a{
	background: #aaa;
	color: #fff;
}

/* Sub-nav */
.site-nav ul ul{
	font-size: 90%;
	
	li{
		border-top: 1px solid #dbdbdb;
		width: 100%;
	}

	a:hover{
		background: #f5f5f5;
		color: #000;
	}	
}


/* Mobile */
@media screen and (min-width: 568px) {

}


/* Tablet */
@media screen and (min-width: 569px) {
	
	
	.site-nav-button{
		display: none;	
	}

	/* On desktop/tablet the nav is horizontal with children as drop downs (using CSS) */
	.site-nav{
		height: auto !important;
		overflow: visible;
		
		li{
			border-top: none;
			display: inline-block;
			margin: 0 2px 0 0;
		}
	}
	
	/* Show children on hover */
	.site-nav ul ul{
		display: none;
	}
	
	.site-nav li:hover > ul{
		display: block;
		left: 0;
	}
	
	.site-nav ul ul{
		font-size: 90%;
		position: absolute;
		top: auto;
		z-index: 5;
		width: 300px; /* magic number <- make ems? or rems? */
	}
	
	.site-nav ul.children li ul.children{
		left: 300px; /* magic number <- make ems? or rems? */
		top: 0;
	}
				
	.site-nav ul ul > li:first-child{
		border-top: none;
	}

}

/* Desktop */
@media screen and (min-width: 1024px) {



}