/* Global site nav */
.site-nav-button{
	cursor: button;
}

.site-nav{
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;

	.site-nav-active &{
		height: auto;
	}

	ul{
		margin: 0;
		padding: 0;
	}
}

.site-nav__item,
.page_item{
	border-top: 1px solid #999;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.site-nav__link,
.page_item a{
	background-color: #dbdbdb;
	color: $c-black;
	display: block;
	padding: 10px;
	text-decoration: none;

	&:hover{
		background-color: #f5f5f5;
	}

	&:visited{
		color: currentColor;
	}
}

/* Highlight active page */
.current_page_item > a,
.current_menu_item > a{
	background-color: #888;
	color: $c-white;

	&:visited{
		color: $c-white;
	}
}

/* Highlight active parent */
.current_page_parent > a,
.current_page_ancestor > a,
.current_menu_parent > a,
.current_menu_ancestor > a{
	background-color: #aaa;

	&:visited{
		color: $c-white
	}
}

/**
	* Sub-nav
	* wp_nav_menu uses .sub-menu whereas
	* wp_page_menu uses .children
	*/
.sub-menu,
.children{
	font-size: 90%;

	li{
		border-top: 1px solid #dbdbdb;
		width: 100%;
	}

	a:hover{
		background: #f5f5f5;
		color: #000;
	}
}

/* Tablet */
@media screen and (min-width: 569px) {

	.site-nav-button{
		display: none;
	}

	/* On desktop/tablet the nav is horizontal with children as drop downs (using CSS) */
	.site-nav{
		height: auto !important;
		overflow: visible;

		li{
			border-top: none;
			display: inline-block;
			margin: 0 2px 0 0;
		}
	}

	/* Show children on hover */
	.sub-menu,
	.children{
		display: none;
	}

	.site-nav li:hover > ul{
		display: block;
		left: 0;
	}

	.sub-menu,
	.children{
		font-size: 90%;
		position: absolute;
		top: auto;
		z-index: 5;
		width: 300px; /* magic number <- make ems? or rems? */

		li{
			clear: both;	
		}
	}

	.sub-menu .sub-menu,
	.children .children{
		left: 300px; /* magic number <- make ems? or rems? */
		top: 0;
	}

	.sub-menu,
	.children{
		> li:first-child{
			border-top: none;
		}
	}
}
