/**
 * Social icons
 */
 
.social-list{
	li{
		display: inline-block;
		list-style: none;
		margin-left: 10px;
	}
}

.social-icon{
	color: blue;
	display: block;
	font-family: 'SSSocialRegular';
	height: 20px;
	overflow: hidden;
	text-decoration: none;
	width: 20px;
}

.social-icon-email{
	
}

.social-icon-facebook{
	
}

.social-icon-googleplus{
	
}

.social-icon-twitter{
	
}
