/**
 * Reset
 * Remove default browser stylings to ensure better
 * consistency across different browsers
 */

/* Box sizing - reset to a nicer understanding of the box model */
html {
	box-sizing: border-box;
}

*, 
*:before, 
*:after {
	box-sizing: inherit;
}


/**
 *	1 Resets/normalise
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym,  cite, code, em, img, q, 
small,  strong, sub, sup, 
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, .site-footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* 
	HTML5 display-role reset for older browsers: 
	HTML5 shim (CDN) script tag is in header.php for older browsers
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	overflow-y: scroll;
}

body{
	background: #fff;
	color: #444;
	margin: 0 auto;
	width: 96%;

	@media screen and (min-width: 768px) {
		width: 690px;
	}

	@media screen and (min-width: 1024px) {
		width: 1020px;
	}
}
	
img, iframe{
	height: auto;
	max-width: 100%;
}