/**
 * Variables
 */
 
/**
 * Colours
 */
$c-black: #000;
$c-white: #fff;
 
/**
 * Fonts
 */
$f-body: sans-serif;
 
/**
 * Breakpoints
 */
$bp-desktop: 1024px;
 
/**
 * Dimensions
 */
$d-site-width: 1280px;
