.site-header{
	
}

.site-header__logo{
	height: 44px;
	margin: 20px auto;
	max-width: 100%;
	padding: 0;
	width: 166px;

	@media screen and (min-width: $bp-desktop) {
		margin-left: 0;
		margin-right: 0;
	}

	a{
		color: inherit;
		display: block;
		text-decoration: none;
	}

	svg{
		display: block;	
	}
}
