/**
 * Accessibility (a11y) related classes
 */

/**
 * Image replacement classes
 */
.ir{
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	direction: ltr;
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
	*line-height: 0;
}

.ir br{
	display: none;
}

.js .js-hidden{
	display: none;
	visibility: hidden;
}


/* Hidden but visible to screenreaders */
.visuallyhidden,
.screen-reader-text{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible{
	visibility: hidden;
}
