/**
 * Layout helper classes
 */
.group, 
.form-field{
	clear: both;
	float: left;
	position: relative;
	width: 100%;
}

.form-field{
	margin: 0 0 20px;
}

.inner{
	margin: 0 auto;
	position: relative;
	width: 98%;

	@media screen and (min-width: $bp-desktop) {
		width: $d-site-width;
	}
}

.column{
	float: left;
	position: relative;
	width: 50%;
}

.decoration{
	display: block;
	position: absolute;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}
