/**
 * Lists
 */
.block-list{

}

	.block-list li{
		list-style: none;
		margin-left: 0;
	}

.grid-list{
	margin-left: -20px;
}

	.grid-list li{
		float: left;
		list-style: none;
		margin: 0 0 20px 20px;
	}

.media-list{
	
}

	.media-list li{
		
	}
	
		.media-list .media{
			
		}
		
			.media-list .media img{
				display: block;
				margin: 0 auto;
			}
		
		.media-list .supporting{
			
		}

/* Sidebar menu */

.sidebar .nav{
	
}

.sidebar .nav li ul{
	padding: 5px 10px;
}
