/**
 * Social icons
 */

.social-list{
	li{
		display: inline-block;
		list-style: none;
		margin-left: 10px;
	}
}

.social-icon{
	color: blue;
	display: block;
	height: 20px;
	overflow: hidden;
	text-decoration: none;
	width: 20px;

	svg{
		display: block;
		height: 20px;
		width: 20px;
	}
}
